collections_cleaning_workflow.json
{
  "name": "Collections Data Cleaning & Policy Engine",
  "nodes": [
    {
      "parameters": {
        "notes": "In PRODUCTION replace this with a Schedule Trigger set to run daily."
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger (daily in prod)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        340
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/data/collections_raw.csv",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Read Raw Export File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "operation": "fromFile",
        "fileFormat": "autodetect",
        "options": {
          "headerRow": true
        }
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "Parse CSV/Excel",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Data Validation & Quality Flagging ===\n// Runs ONCE for all incoming records so we can detect duplicate\n// Company_UUIDs across the whole batch (not just per-row checks).\n\nconst items = $input.all();\n\n// --- Pass 1: count UUID occurrences to detect batch-level duplicates ---\nconst uuidCounts = {};\nfor (const item of items) {\n  const uuid = item.json.Company_UUID;\n  if (uuid) uuidCounts[uuid] = (uuidCounts[uuid] || 0) + 1;\n}\n\n// --- Pass 2: validate each record and attach data_quality_flags ---\nconst results = [];\nfor (const item of items) {\n  const r = { ...item.json };\n  const flags = [];\n\n  // Exports often deliver numbers as strings \u2014 normalise first.\n  const amount = parseFloat(r.Amount_Due_USD);\n  const dpd = parseFloat(r.DPD_days);\n  const creditRaw = r.Credit_Line_USD;\n  const creditLine =\n    creditRaw === '' || creditRaw === undefined || creditRaw === null\n      ? null\n      : parseFloat(creditRaw);\n  const status = (r.Record_status || '').toString().trim();\n\n  // Field-level validations\n  const amountValid = !isNaN(amount) && amount > 0;\n  if (!amountValid) flags.push('Invalid amount');            // missing or <= 0\n\n  const dpdValid = !isNaN(dpd) && dpd > 0;\n  if (!dpdValid) flags.push('Invalid DPD');                  // missing or <= 0\n\n  if (creditLine === null || isNaN(creditLine)) flags.push('Missing credit line');\n\n  if (dpdValid && dpd > 365) flags.push('Aged 365+ days');\n\n  if (status === 'Pending_review') flags.push('Pending review');\n\n  // Batch-level validation\n  if (r.Company_UUID && uuidCounts[r.Company_UUID] > 1) flags.push('Duplicate UUID');\n\n  // Workable ONLY if amount + DPD are valid AND the account is Active.\n  // (Pending_review is therefore never workable.)\n  const workable = amountValid && dpdValid && status === 'Active';\n\n  results.push({\n    json: {\n      ...r,\n      // write back the cleaned/coerced values\n      Amount_Due_USD: amountValid ? amount : r.Amount_Due_USD,\n      DPD_days: dpdValid ? dpd : r.DPD_days,\n      Credit_Line_USD: creditLine,\n      data_quality_flags: flags,\n      workable,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Validate & Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Deterministic Policy Engine ===\n// Pure decision table. No randomness, no LLM, no external calls:\n// the same input always yields the same recommended_policy.\n// Only WORKABLE records get a policy; everything else passes through.\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const r = { ...item.json };\n\n  if (!r.workable) {\n    results.push({\n      json: {\n        ...r,\n        recommended_policy: null,\n        policy_rule_fired: null,\n        upfront_required_usd: null,\n      },\n    });\n    continue;\n  }\n\n  const amount = parseFloat(r.Amount_Due_USD);\n  const dpd = parseFloat(r.DPD_days);\n\n  let policy;\n  let rule;\n  let upfront = 0;\n\n  if (dpd >= 1 && dpd <= 30) {\n    if (amount < 10000) {\n      policy = 'Full payment, no discount';\n      rule = 'DPD_1_30__UNDER_10K';\n    } else if (amount <= 50000) {\n      policy = 'Full payment, no discount';\n      rule = 'DPD_1_30__10K_TO_50K';\n    } else {\n      policy = '20% interest discount if 50% paid upfront';\n      rule = 'DPD_1_30__OVER_50K';\n      upfront = amount * 0.5;\n    }\n  } else if (dpd > 30) {\n    policy = '40% interest discount if 50% paid upfront';\n    rule = 'DPD_OVER_30';\n    upfront = amount * 0.5;\n  } else {\n    // Safety net \u2014 a workable record should never have DPD <= 0.\n    policy = 'Manual review';\n    rule = 'UNCLASSIFIED';\n  }\n\n  results.push({\n    json: {\n      ...r,\n      recommended_policy: policy,\n      policy_rule_fired: rule,\n      upfront_required_usd: Math.round(upfront * 100) / 100,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Policy Engine (deterministic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.workable }}",
              "value2": true
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Route: Workable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1360,
        240
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "Workable Accounts",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        160
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000008",
      "name": "Needs Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1580,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Assemble cleaned output + metadata summary, then serialise to JSON ===\n// Runs once for all items. Consumes the FULL enriched batch (both\n// workable and needs-review records) so the summary totals are complete.\n\nconst items = $input.all();\nconst accounts = items.map((i) => i.json);\n\nconst workable = accounts.filter((a) => a.workable);\nconst needsReview = accounts.filter((a) => !a.workable);\n\nconst duplicateUuidCount = accounts.filter((a) =>\n  (a.data_quality_flags || []).includes('Duplicate UUID'),\n).length;\n\n// Total exposure = sum of every valid Amount_Due_USD in the batch.\nconst totalExposure = accounts.reduce((sum, a) => {\n  const amt = parseFloat(a.Amount_Due_USD);\n  return sum + (isNaN(amt) ? 0 : amt);\n}, 0);\n\nconst output = {\n  metadata: {\n    generated_at: new Date().toISOString(),\n    total_records: accounts.length,\n    workable_count: workable.length,\n    needs_review_count: needsReview.length,\n    duplicate_uuid_count: duplicateUuidCount,\n    total_exposure_usd: Math.round(totalExposure * 100) / 100,\n  },\n  accounts,\n};\n\n// Attach the JSON as binary data so the next node can write it to disk.\nconst binaryData = await this.helpers.prepareBinaryData(\n  Buffer.from(JSON.stringify(output, null, 2)),\n  'cleaned_accounts.json',\n  'application/json',\n);\n\nreturn [{ json: output, binary: { data: binaryData } }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000009",
      "name": "Build Output + Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        480
      ]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/cleaned_accounts.json",
        "dataPropertyName": "data",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000010",
      "name": "Write cleaned_accounts.json",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1580,
        480
      ]
    }
  ],
  "connections": {
    "Manual Trigger (daily in prod)": {
      "main": [
        [
          {
            "node": "Read Raw Export File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Raw Export File": {
      "main": [
        [
          {
            "node": "Parse CSV/Excel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse CSV/Excel": {
      "main": [
        [
          {
            "node": "Validate & Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Flag": {
      "main": [
        [
          {
            "node": "Policy Engine (deterministic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Engine (deterministic)": {
      "main": [
        [
          {
            "node": "Route: Workable?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Output + Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Workable?": {
      "main": [
        [
          {
            "node": "Workable Accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Output + Summary": {
      "main": [
        [
          {
            "node": "Write cleaned_accounts.json",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}