collections_cleaning_workflow_cloud.json
{
  "name": "Collections Data Cleaning & Policy Engine (n8n Cloud)",
  "nodes": [
    {
      "parameters": {
        "notes": "In PRODUCTION replace this with a Schedule Trigger set to run daily."
      },
      "id": "b2000000-0000-4000-8000-000000000001",
      "name": "Manual Trigger (daily in prod)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Raw Collections Export (hardcoded \u2014 n8n Cloud has no disk access) ===\n// In production this data would come from a DB / API / spreadsheet source.\n// For this workflow, paste your ~15-20 exported rows into the array below.\n//\n//  >>>>>>>>>>>>>>>>>>>>>>>  PASTE RAW ROWS HERE  <<<<<<<<<<<<<<<<<<<<<<<\n//  Keep the same column keys shown in the 3 example rows.\n\nconst rows = [\n  {\n    Company_UUID: 'a1b2c3d4-0001',\n    Segment: 'SMB',\n    Credit_Line_USD: 20000,\n    Collections_Channel: 'Email',\n    Amount_Due_USD: 4500,\n    DPD_days: 12,\n    Billing_Cycle: 'Monthly',\n    Notes: 'First reminder sent',\n    Record_status: 'Active',\n    Data_source: 'ERP_export',\n  },\n  {\n    Company_UUID: 'a1b2c3d4-0002',\n    Segment: 'Enterprise',\n    Credit_Line_USD: 500000,\n    Collections_Channel: 'Phone',\n    Amount_Due_USD: 82000,\n    DPD_days: 95,\n    Billing_Cycle: 'Quarterly',\n    Notes: 'Escalated to account manager',\n    Record_status: 'Active',\n    Data_source: 'ERP_export',\n  },\n  {\n    Company_UUID: 'a1b2c3d4-0003',\n    Segment: 'MidMarket',\n    Credit_Line_USD: '',\n    Collections_Channel: 'Email',\n    Amount_Due_USD: 0,\n    DPD_days: 0,\n    Billing_Cycle: 'Monthly',\n    Notes: 'Awaiting dispute resolution',\n    Record_status: 'Pending_review',\n    Data_source: 'Manual_upload',\n  },\n  //  >>>>>>>>>>>>>>>>>>>>>>>  ...ADD MORE ROWS ABOVE  <<<<<<<<<<<<<<<<<<<<<<<\n];\n\n// Emit one n8n item per raw row so downstream nodes can process them.\nreturn rows.map((row) => ({ json: row }));\n"
      },
      "id": "b2000000-0000-4000-8000-000000000002",
      "name": "Raw Data (PASTE ROWS HERE)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Data Validation & Quality Flagging ===\n// Runs ONCE for all incoming records so we can detect duplicate\n// Company_UUIDs across the whole batch (not just per-row checks).\n\nconst items = $input.all();\n\n// --- Pass 1: count UUID occurrences to detect batch-level duplicates ---\nconst uuidCounts = {};\nfor (const item of items) {\n  const uuid = item.json.Company_UUID;\n  if (uuid) uuidCounts[uuid] = (uuidCounts[uuid] || 0) + 1;\n}\n\n// --- Pass 2: validate each record and attach data_quality_flags ---\nconst results = [];\nfor (const item of items) {\n  const r = { ...item.json };\n  const flags = [];\n\n  // Exports often deliver numbers as strings \u2014 normalise first.\n  const amount = parseFloat(r.Amount_Due_USD);\n  const dpd = parseFloat(r.DPD_days);\n  const creditRaw = r.Credit_Line_USD;\n  const creditLine =\n    creditRaw === '' || creditRaw === undefined || creditRaw === null\n      ? null\n      : parseFloat(creditRaw);\n  const status = (r.Record_status || '').toString().trim();\n\n  // Field-level validations\n  const amountValid = !isNaN(amount) && amount > 0;\n  if (!amountValid) flags.push('Invalid amount');            // missing or <= 0\n\n  const dpdValid = !isNaN(dpd) && dpd > 0;\n  if (!dpdValid) flags.push('Invalid DPD');                  // missing or <= 0\n\n  if (creditLine === null || isNaN(creditLine)) flags.push('Missing credit line');\n\n  if (dpdValid && dpd > 365) flags.push('Aged 365+ days');\n\n  if (status === 'Pending_review') flags.push('Pending review');\n\n  // Batch-level validation\n  if (r.Company_UUID && uuidCounts[r.Company_UUID] > 1) flags.push('Duplicate UUID');\n\n  // Workable ONLY if amount + DPD are valid AND the account is Active.\n  // (Pending_review is therefore never workable.)\n  const workable = amountValid && dpdValid && status === 'Active';\n\n  results.push({\n    json: {\n      ...r,\n      // write back the cleaned/coerced values\n      Amount_Due_USD: amountValid ? amount : r.Amount_Due_USD,\n      DPD_days: dpdValid ? dpd : r.DPD_days,\n      Credit_Line_USD: creditLine,\n      data_quality_flags: flags,\n      workable,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "b2000000-0000-4000-8000-000000000003",
      "name": "Validate & Flag",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        340
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Deterministic Policy Engine ===\n// Pure decision table. No randomness, no LLM, no external calls:\n// the same input always yields the same recommended_policy.\n// Only WORKABLE records get a policy; everything else passes through.\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const r = { ...item.json };\n\n  if (!r.workable) {\n    results.push({\n      json: {\n        ...r,\n        recommended_policy: null,\n        policy_rule_fired: null,\n        upfront_required_usd: null,\n      },\n    });\n    continue;\n  }\n\n  const amount = parseFloat(r.Amount_Due_USD);\n  const dpd = parseFloat(r.DPD_days);\n\n  let policy;\n  let rule;\n  let upfront = 0;\n\n  if (dpd >= 1 && dpd <= 30) {\n    if (amount < 10000) {\n      policy = 'Full payment, no discount';\n      rule = 'DPD_1_30__UNDER_10K';\n    } else if (amount <= 50000) {\n      policy = 'Full payment, no discount';\n      rule = 'DPD_1_30__10K_TO_50K';\n    } else {\n      policy = '20% interest discount if 50% paid upfront';\n      rule = 'DPD_1_30__OVER_50K';\n      upfront = amount * 0.5;\n    }\n  } else if (dpd > 30) {\n    policy = '40% interest discount if 50% paid upfront';\n    rule = 'DPD_OVER_30';\n    upfront = amount * 0.5;\n  } else {\n    // Safety net \u2014 a workable record should never have DPD <= 0.\n    policy = 'Manual review';\n    rule = 'UNCLASSIFIED';\n  }\n\n  results.push({\n    json: {\n      ...r,\n      recommended_policy: policy,\n      policy_rule_fired: rule,\n      upfront_required_usd: Math.round(upfront * 100) / 100,\n    },\n  });\n}\n\nreturn results;\n"
      },
      "id": "b2000000-0000-4000-8000-000000000004",
      "name": "Policy Engine (deterministic)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.workable }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b2000000-0000-4000-8000-000000000005",
      "name": "Route: Workable?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1140,
        240
      ]
    },
    {
      "parameters": {},
      "id": "b2000000-0000-4000-8000-000000000006",
      "name": "Workable Accounts",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        160
      ]
    },
    {
      "parameters": {},
      "id": "b2000000-0000-4000-8000-000000000007",
      "name": "Needs Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1360,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// === Assemble cleaned output + metadata summary (single JSON object) ===\n// Runs once for all items. Consumes the FULL enriched batch (both\n// workable and needs-review records) so the summary totals are complete.\n// Returns ONE item you can view / copy from this node's output panel.\n\nconst items = $input.all();\nconst accounts = items.map((i) => i.json);\n\nconst workable = accounts.filter((a) => a.workable);\nconst needsReview = accounts.filter((a) => !a.workable);\n\nconst duplicateUuidCount = accounts.filter((a) =>\n  (a.data_quality_flags || []).includes('Duplicate UUID'),\n).length;\n\n// Total exposure = sum of every valid Amount_Due_USD in the batch.\nconst totalExposure = accounts.reduce((sum, a) => {\n  const amt = parseFloat(a.Amount_Due_USD);\n  return sum + (isNaN(amt) ? 0 : amt);\n}, 0);\n\nconst output = {\n  metadata: {\n    generated_at: new Date().toISOString(),\n    total_records: accounts.length,\n    workable_count: workable.length,\n    needs_review_count: needsReview.length,\n    duplicate_uuid_count: duplicateUuidCount,\n    total_exposure_usd: Math.round(totalExposure * 100) / 100,\n  },\n  accounts,\n};\n\n// Return a single item \u2014 inspect it in the output panel (JSON view) and copy.\nreturn [{ json: output }];\n"
      },
      "id": "b2000000-0000-4000-8000-000000000008",
      "name": "Build Output + Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        480
      ]
    }
  ],
  "connections": {
    "Manual Trigger (daily in prod)": {
      "main": [
        [
          {
            "node": "Raw Data (PASTE ROWS HERE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Raw Data (PASTE ROWS HERE)": {
      "main": [
        [
          {
            "node": "Validate & Flag",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Flag": {
      "main": [
        [
          {
            "node": "Policy Engine (deterministic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Engine (deterministic)": {
      "main": [
        [
          {
            "node": "Route: Workable?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Build Output + Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route: Workable?": {
      "main": [
        [
          {
            "node": "Workable Accounts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Needs Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}